.FAQ{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
  }
  .FAQ_main{
    margin-top: 10%;
    text-align: center;
    font-size: 2em;
  }
  .FAQ_main a{
    text-decoration: none;
    color: black;
  }
 .FAQ_list{
  font-size: 1em;
  width: 500px auto;
  height: 200px auto;
 }
 .FAQ_list a {
  color: burlywood;
  text-decoration: none;
}
.FAQ_list a.selected {
  color: darkgray;
}
.FAQ_list a:hover{
  color: black;
}  
.FAQ_board{
  background-color: blanchedalmond;
  width: 1000px;
  height: 700px;
  margin: 0 auto;
}